h1 {
  font-family: 'Sen', sans-serif;
  margin-left: 80px;
  margin-top: 60px;
}

p {
  font-family: 'Arial', sans-serif;
  margin-left: 80px;
  margin-top: 60px;
}

.box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 80px;
  margin-right: 80px;  
}

/*
.box > div {
  margin: 20px;
}
