ul {
  list-style-type: none;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 60px;
  padding: 0;
  background: #1abc9c;
  overflow: hidden;
  font-family: 'Sen', sans-serif;
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 24px;
}

/*
h1 {
  font-family: 'Sen', sans-serif;
  margin-left: 100px;
  margin-top: 60px;
}
*/

h3 {
  font-family: 'Arial', sans-serif;
  margin-left: 100px;
  margin-top: 60px;
}

.box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 100px;
}

/*
.box > div {
  margin: 20px;
}
