ul {
  list-style-type: none;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 60px;
  padding: 0;
  overflow: hidden;
  font-family: 'Sen', sans-serif;
}

li {
  float: left;
}

a {
    text-decoration: none;
}
a:link, a:visited {
    color: black;
}

.notName {
  display: block;
  text-align: center;
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 24px;
}

/*
h1 {
  font-family: 'Sen', sans-serif;
  margin-left: 100px;
  margin-top: 60px;
}
*/

b {
  font-family: 'Arial', sans-serif;
  margin-left: 100px;
  margin-top: 60px;
}

.box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 100px;
}

/*
.box > div {
  margin: 20px;
}
